<!doctype html>
<html>
    <head>
        <title>
            {% block title %} TITLE GOES HERE {% endblock %}
        </title>
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/carousel.css" rel="stylesheet">

        <!-- Google Fonts -->


        <!-- styles -->
        <link href="/static/css/styles.css" rel="stylesheet">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>

        {% block content %} CONTENT GOES HERE {% endblock %}

    </body>
</html>