{% extends "base.html" %}

{% block title %}
    Welcome to the Looking Glass
{% endblock %}

{% block content %}
    {% include 'nav_top_login.html' %}
    <style>
     body { padding-top: 50px;}
    </style>
    <div class="container">
        <h1>The Looking Glass</h1>
        <p>Mentorship programs benefit both the mentor and the mentee. A mentorship program offers guidance and encouragement for junior employees and allows senior leaders to reflect on their own goals and continue their professional development. </p>

        <h3>Register</h3>

        <p>Please fill out the registration form below, and you'll be own your way to finding a mentor or mentee.</p>

        <form action="/register" method="POST" class="form-horizontal">
            <div class="form-group">
                <input type="text" name="firstname" placeholder="First Name" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="lastname" placeholder="Last Name" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="gender" placeholder="Gender" class="form-control">
            </div>
            <div class="form-group">
                <label>
                    <input type="radio" name="role" value="mentor"> Mentor
                    <input type="radio" name="role" value="mentee"> Mentee
                </label>
            </div>


        <p>
            <button type="submit" class="btn btn-lg btn-primary">Sign up today</button>
        </p>
        </form>
    </div>

{% endblock %}