{% extends 'base.html' %}

{% block title %}
    User Profile:
{% endblock %}

{% block content %}
    <h3>{{user.first_name}} {{user.last_name}} | {{user.gender}}</h3>

    <form id="profile-description" action="/profile-edit" method="POST">
        {% if mentor %}
            <div>    
                <label>Job Category:
                    <select name="category">
                    {# if a job category is already selected, display it here#}
                    {% for category in categories %}
                        <option value="{{category.id}}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                </label>
            </div>
        {% endif %}

        <div class="label">Current Company:</div>
            {% if user.company_name %}
                <div>
                    <input type="text" id="company-name" class="form-group" name="form-group" rows="10" cols="5" placeholder="{{user.company_name}}">
                </div>

            {% else %}
                <div>
                    <label>Current Company
                        <input type="text" id="company_name" class="form-group" name="form-group" rows="10" cols="5" placeholder="Enter your current company...">
                    </label>
                </div>
            {% endif %}

        <div class="label" style="color:Black;">About Me:</div><span class="chars"></span>
            {% if user.introduction %}
                <div>
                    <textarea id="profile-bio" class="form-control" name="form-control" rows="10" cols="25">{{user.introduction}}</textarea>
                </div>

            {% else %}
                <div>
                    <textarea id="profile-bio" class="form-control" name="form-control" rows="18" cols="45" placeholder="Enter your profile here..."></textarea>
                </div>
            {% endif %}

        <div class="label" style="color:Black;">Previous Experience:</div><span class="chars"></span>
            {% if user.past_jobs %}
                <div>
                    <textarea id="past-job"class="form-control" name="form-control" rows="10" cols="25">{{user.past_jobs}}</textarea>
                </div>

            {% else %}
                <div>
                    <textarea id="past-job"class="form-control" name="form-control"  rows="10" cols="25" placeholder="Enter previous experience..."></textarea>
                </div>
            {% endif %}

        <div>    
            <label>City:
                <select name="city">
                {% if user.city_id %}
                    <option value={{"user.city_id"}}>{{user.city.name}}</option>
                {% endif %}
                {% for city in cities %}
                    <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
                </select>
            </label>
        </div>

        <div class="label" style="color:Black;">LinkedIn URL:</div>
            {% if user.url %}
                <div>
                    <textarea id="url" class="form-control" name="form-control" rows="1">{{user.url}}</textarea>
                </div>

            {% else %}
                <div>
                    <textarea id="url" class="form-control" name="form-control" rows="1" cols="5" placeholder="Enter your link here..."></textarea>
                </div>

            {% endif %}

        <div>
            <input type="submit" value="Update Profile">
        </div>
    </form>
    <script src="/static/js/edit-profile.js"></script>
{% endblock %}